<div class="sourceSelectorRow">
  Source: 
  <select class="sourceSelector">
    <optgroup label="gcj-util">
      <option value="gcj_util/case_reader.cljx">case-reader.cljx</option>
      <option value="gcj_util/case_solver.cljx">case-solver.cljx</option>
      <option value="gcj_util/misc.cljx">misc.cljx</option>
    </optgroup>
    <optgroup label="{{problemSelected}}">
      <option value="problems/store_credit/main.cljx" selected="selected">main.cljx</option>
    </optgroup>
  </select>
</div>
<textArea class="sourceViewText" wrap="off"></textArea>
