<div class="sourceSelectorRow">
  Source File: 
  <select class="sourceSelector">
    <optgroup label="gcj-util">
      <option value="gcj_util/case_reader.cljx">case-reader.cljx</option>
      <option value="gcj_util/case_solver.cljx">case-solver.cljx</option>
      <option value="gcj_util/misc.cljx">misc.cljx</option>
    </optgroup>
    <optgroup label="{{problemSelected}}">
      <option value="problems/{{problemSelected}}/main.cljx" selected="selected">main.cljx</option>
    </optgroup>
  </select>
</div>
<div class="syntaxHighlighterContainer"><div class="syntaxhighlighter"></div></div>
