<div class="sourceSelectorRow">
  Source: 
  <select class="sourceSelector">
    <optgroup label="gcj-util">
      <option value="gcj_util/case_reader.cljx">case-reader</option>
      <option value="gcj_util/case_solver.cljx">case-solver</option>
      <option value="gcj_util/misc.cljx">misc</option>
    </optgroup>
    <optgroup label="{{problemSelected}}">
      <option value="problems/store_credit/main.cljx" selected="selected">main</option>
    </optgroup>
  </select>
</div>
