Problem: <select>
  {{#problems}}
  <option value="{{name}}">{{name}}</option>
  {{/problems}}
</select>
<div class="problemDescDiv">
  <a class="problemDescLink" href="javascript:void(0)" target="_blank">Problem Description</a>
</div>
