<div id="{{mainId}}_header" class="mainHeader">
  <div class="titleDiv">
    <h1 class="title">code <span class="titlej">j</span><span class="titleam">am</span></h1>
    <p>
      <h3 class="sub-title">(with clo<span class=sub-titlej>j</span><span class="sub-titleLast">urescript</span></h3>
    </p>
  </div>
  <div class="headerControls"></div>
</div>
<div id="{{mainId}}_content" class="mainContent"> </div>
<div id="{{mainId}}_footer" class="mainFooter">
  <span class="closingParen">)</span>
</div>
