<div class="pv_navbar">
  <ul>
    <li><a href="javascript:void(0)" class="button solutionButton">Solution</a></li>
    <li><a href="javascript:void(0)" class="button sourceButton">Source</a></li>
  </ul>
</div>
<div class="pv_content"></div>
